<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        a(href='/estudiantes') Ir atrás
        form(method="post")
            input(name="nombre", type="text", value=estudiante.nombre)
            input(name="edad", type="text", value=estudiante.edad)
            button(type="button",name="delete") Modificar
            button(type="submit") Borrar    
            
